In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_excel('C:/Users/Administrator/Downloads/UASmain/dataset_soal1.xls')

In [6]:
data.shape

(51, 5)

In [7]:
data['Class (buy_computer)'].value_counts()

Yes    29
No     22
Name: Class (buy_computer), dtype: int64

In [8]:
PYes = 29/51
PNo = 22/51

In [9]:
print(PYes)

0.5686274509803921

In [10]:
print(PNo)

0.43137254901960786

In [28]:
pd.crosstab(data['Student'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Student
No                    10   14
Yes                   12   15

In [11]:
PbukanmuridNo = 10/22
PmuridNo = 12/22

PbukanmuridYes = 14/29
PmuridYes = 15/29

Pmurid = 27/51
Pbukanmurid = 24/51

print(PmuridYes)

0.5172413793103449

In [12]:
PNomurid = (PmuridNo*PNo)/Pmurid
print(PNomurid)

0.4444444444444444

In [17]:
PYesmurid = (PmuridYes*PYes)/Pmurid
print(PYesmurid)

0.5555555555555556

In [20]:
print(PNomurid)
print(PYesmurid)

0.4444444444444444
0.5555555555555556

In [36]:
pd.crosstab(data['Income'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Income
High                   6    5
Low                   11   10
Medium                 5   14

In [37]:
PHighNo = 6/22
PLowNo = 11/22
PMediumNo = 5/22

PHighYes = 5/29
PLowYes = 10/29
PMediumYes = 14/29

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

In [46]:
PNoBuy = ((PmuridNo*PLowNo)*PNo)/(Pmurid*PLow)
print(PNoBuy)

0.5396825396825398

In [48]:
PBuy = ((PmuridYes*PLowYes)*PYes)/(Pmurid*PLow)
print(PBuy)

0.46524356869184463

In [42]:
PSum = PNoBuy+PBuy
print(PSum)

1.0049261083743843

In [44]:
PBuy= (PBuy/PSum)*100
print(PBuy)

46.296296296296305

In [45]:
PNoBuy = (PNoBuy*PSum)*100
print(PNoBuy)

54.23410743607789